# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# hyperstake stuff

object_script.*
.DS_Store
hyperstake-qt
hyperstake-qt.exe
hyperstaked
hyperstaked.exe
qrc_bitcoin.cpp
build/*
release/*
makefile.release
makefile.debug
makefile
HyperStake-qt.pro.user
autom4te.cache
aclocal.m4
configure
ltmain.sh
src/.deps
src/qt/.deps
src/qt/.dirstamp
src/qt/bitcoin.moc
src/qt/bitcoinamountfield.moc
src/qt/moc_aboutdialog.cpp
src/qt/moc_addressbookpage.cpp
src/qt/moc_addresstablemodel.cpp
src/qt/moc_askpassphrasedialog.cpp
src/qt/moc_bitcoinaddressvalidator.cpp
src/qt/moc_bitcoinamountfield.cpp
src/qt/moc_bitcoingui.cpp
src/qt/moc_bitcoinunits.cpp
src/qt/moc_clientmodel.cpp
src/qt/moc_coincontroldialog.cpp
src/qt/moc_coincontroltreewidget.cpp
src/qt/moc_csvmodelwriter.cpp
src/qt/moc_editaddressdialog.cpp
src/qt/moc_guiutil.cpp
src/qt/moc_macdockiconhandler.cpp
src/qt/moc_monitoreddatamapper.cpp
src/qt/moc_notificator.cpp
src/qt/moc_optionsdialog.cpp
src/qt/moc_optionsmodel.cpp
src/qt/moc_overviewpage.cpp
src/qt/moc_qrcodedialog.cpp
src/qt/moc_qvalidatedlineedit.cpp
src/qt/moc_qvaluecombobox.cpp
src/qt/moc_rpcconsole.cpp
src/qt/moc_sendcoinsdialog.cpp
src/qt/moc_sendcoinsentry.cpp
src/qt/moc_signverifymessagedialog.cpp
src/qt/moc_transactiondesc.cpp
src/qt/moc_transactiondescdialog.cpp
src/qt/moc_transactionfilterproxy.cpp
src/qt/moc_transactiontablemodel.cpp
src/qt/moc_transactionview.cpp
src/qt/moc_walletmodel.cpp
src/qt/overviewpage.moc
src/qt/rpcconsole.moc
Makefile.in
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
src/qt/forms/ui_aboutdialog.h
src/qt/forms/ui_addressbookpage.h
src/qt/forms/ui_askpassphrasedialog.h
src/qt/forms/ui_coincontroldialog.h
src/qt/forms/ui_editaddressdialog.h
src/qt/forms/ui_optionsdialog.h
src/qt/forms/ui_overviewpage.h
src/qt/forms/ui_qrcodedialog.h
src/qt/forms/ui_rpcconsole.h
src/qt/forms/ui_sendcoinsdialog.h
src/qt/forms/ui_sendcoinsentry.h
src/qt/forms/ui_signverifymessagedialog.h
src/qt/forms/ui_transactiondescdialog.h
config.log
config.status
libtool
src/test/.deps
src/test/data/base58_encode_decode.json.h
src/test/data/base58_keys_invalid.json.h
src/test/data/base58_keys_valid.json.h
src/test/data/script_invalid.json.h
src/test/data/script_valid.json.h
src/test/.dirstamp
src/test/test_bitcoin
setup.nsi
Info.plist
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
src/qt/moc_blockbrowser.cpp
src/qt/moc_calcdialog.cpp
src/qt/moc_charitydialog.cpp
src/qt/moc_qtipcserver.cpp
src/qt/test/.dirstamp
src/qt/test/moc_uritests.cpp
src/qt/test/test_bitcoin-qt
src/qt/test/.deps
src/qt/forms/ui_blockbrowser.h
src/qt/forms/ui_calcdialog.h
src/qt/forms/ui_charitydialog.h
moc_macnotificationhandler.cpp
hyperstake/hyperstake.xcodeproj
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
